.bg-custom-purple {
    background-color: #35073F !important;
}

.text-custom-purple {
    color: #35073F !important;
}

footer {
    margin-top: auto;
    padding: 1rem 0;
    color: white;
}

.navbar-logo {
    height: 40px;
    width: auto;
    border-radius: 8px;
    margin-right: 10px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/RobloxScreenShot20251129_132653842.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px) brightness(0.4);
    z-index: -1;
}